body {
    font-family: Verdana;
    padding: 40px;
    background-color: #C7F3FF;  
}

h1, h3 {
    color: #00204E;
}

.common-page-heading-container {
    text-align: center;
    margin: 20px
}

select.common-page-form {
    background-color: beige;
    border-radius: 5px;
    border-color: transparent;
}

input.common-page-form {
    background-color: beige;
    border-radius: 5px;
    border-color: transparent;
}

.common-page-form-field {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px auto;
    margin-right: 2px auto;
}

.common-page-form {
    border-width: 2px;
    border-style: solid;
    border-color: #00204E;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px auto;
    margin-right: 20px auto;
}

.common-page-submit-btn {
    margin-top: 20px;
}